                                                        //Menu
            //Barra de navegacion
.menuBar img{
    width: 30px;
    height: 30px;
}


.navbar-toggler{
    color: $color3;
    border-color: transparent;
    transition: all 2s
}


.logo{
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 160px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    &:active{
        scale: 0.9;
        transition: all .9s
    }
}

.logo:hover{
    filter: drop-shadow(0px 2px 3px #141414);
    transition: all .5s
}


.barraNav{
    justify-content: end;
    text-align: center;
    padding: 10px
}

nav{
    background-color: $color4
}



.efecto{
    color: $color3 !important;
    &:active{
    scale: 0.8;
    transition: all .8s
    }
}



            //Efecto linea
.underline-linea::after{
    margin: auto;
    content: "";
    height: 3px;
    width: 0;
    background-color: $color1;
    display: block;
    transition: all .5s;

}

.underline-linea:hover::after{
    width: 80%;
}
            //Fin efecto linea

//Fin barra de navegacion*