* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e9e5e5;
  background-image: linear-gradient(123deg, #e9e5e5 70%, #e9e5e5);
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #202020;
}
body::-webkit-scrollbar-thumb {
  background-color: #444444;
}

/*Pagina inicio*/
#inicio {
  border-bottom: 2px solid #e9e5e5;
}

#estas {
  background-image: url(../Imagenes/Vecinalista5.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 500px;
  margin-bottom: 0;
  border-radius: 0;
  text-shadow: 50px 50px 50px #202020;
  color: #e9e5e5;
}

#redesHome {
  text-align: center;
  margin: 20px;
}

.redesSocialesHome {
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  color: #202020;
}
.redesSocialesHome::first-letter {
  font-size: 55px;
}

.fotosRedesHome img {
  margin: 20px;
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.fotosRedesHome img:hover {
  scale: 0.8;
  transition: all 1s;
}
.fotosRedesHome img:active {
  scale: 0.8;
  transition: all 1s;
}

#votarnosHome {
  color: #202020;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
#votarnosHome h2 {
  font-size: 50px;
  font-weight: bold;
}
#votarnosHome h2::first-letter {
  font-size: 55px;
}
#votarnosHome p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 100px;
}

.marquee {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}

.marquee li img {
  width: 400px;
  margin: 5px;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 40s linear infinite;
}

.marquee__item img {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-270%);
  }
}
/*Fin pagina inicio*/
/*Pagina historia*/
#historia {
  border-bottom: 2px solid #e9e5e5;
}

.espacios {
  margin-top: 60px;
}

#mainEstilos {
  text-align: center;
  color: #202020;
  margin: 20px;
}
#mainEstilos h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
#mainEstilos p {
  font-size: 20px;
  margin-bottom: 100px;
}

.posicion img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.posicionImgHistoria {
  display: flex;
}
.posicionImgHistoria img {
  height: 400px;
  width: 100%;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#ubicacionHistoria {
  text-align: center;
  color: #202020;
  margin: 20px;
}
#ubicacionHistoria h2 {
  font-size: 50px;
  font-weight: bold;
}
#ubicacionHistoria h4 {
  text-align: left;
  font-weight: bold;
}

/*Fin pagina historia*/
/*Pagina blog*/
#blog {
  border-bottom: 2px solid #e9e5e5;
}

#containerBlog {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "ultimosArticulos camp2021" "ultimosArticulos camp2021" "art2 art2";
  grid-gap: 50px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.ultimosArticulos {
  grid-area: ultimosArticulos;
  padding: 10px;
  background-color: #e9e5e5;
  box-shadow: 0px 5px 30px #444949;
  border-radius: 10px;
  color: #202020;
  margin-bottom: 50px;
  text-align: center;
}
.ultimosArticulos h2 {
  font-size: 40px;
  font-weight: bold;
}
.ultimosArticulos a {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.ultimosArticulos a:hover {
  color: #202020;
}

.articulosBlog {
  padding: 10px;
  background-color: #202020;
  box-shadow: 0px 5px 30px #444949;
  border-radius: 10px;
  color: #e9e5e5;
  margin-bottom: 50px;
}
.articulosBlog img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.articulosBlog h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.articulosBlog p {
  font-size: 20px;
  font-weight: 400;
}
.articulosBlog p::first-letter {
  font-size: 30px;
}
.articulosBlog footer {
  text-align: center;
}

.camp2021 {
  grid-area: camp2021;
}

.art2 {
  grid-area: art2;
}

.estilosCambioPagination a {
  background-color: #202020;
}
.estilosCambioPagination a:hover {
  background-color: #444949;
}
.estilosCambioPagination a:active {
  scale: 0.8;
  transition: all 0.2s;
}

/*Fin pagina blog*/
/**/
@media (max-width: 800px) {
  /*Pagina historia*/
  .posicionImgHistoria {
    display: flex;
    flex-wrap: wrap;
  }
  .posicionImgHistoria img {
    height: 300px;
    width: 100%;
    padding-top: 10px;
  }
  /*Fin pagina historia*/
}
.menuBar img {
  width: 30px;
  height: 30px;
}

.navbar-toggler {
  color: #e9e5e5;
  border-color: transparent;
  transition: all 2s;
}

.navbarColor {
  background-color: #202020;
}
.navbarColor:hover {
  background-image: linear-gradient(to right, #444444 51%, #202020 100%);
}
.navbarColor a {
  color: #444444;
}

.logo {
  margin: 0px;
  padding: 0px;
  height: 60px;
  width: 160px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.logo:active {
  scale: 0.9;
  transition: all 0.9s;
}

.barraNav {
  justify-content: end;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #202020;
}

.efecto:active {
  scale: 0.8;
  transition: all 0.8s;
}

.underline-linea::after {
  margin: auto;
  content: "";
  height: 3px;
  width: 0;
  background-color: #e9e5e5;
  display: block;
  transition: all 0.5s;
}

.underline-linea:hover::after {
  width: 80%;
}

/*Pie de pagina*/
footer {
  background-color: #202020;
  color: #e9e5e5;
  padding: 10px;
}

.footerPuerto {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 400;
}

/*Fotos redes sociales*/
#redes {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#tiktok img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}
#tiktok:hover {
  transform: scale(0.9);
  filter: grayscale(100%);
  transition: 1.1s;
}

#ig img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}
#ig:hover {
  transform: scale(0.9);
  filter: grayscale(100%);
  transition: 1.1s;
}

#fb img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#fb:hover {
  transform: scale(0.9);
  filter: grayscale(100%);
  transition: 1.1s;
}

/*Fin fotos redes sociales*/
#copyright {
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  display: block;
}

/*Boton de subir*/
.up img {
  height: 42px;
  width: 30px;
  position: fixed;
  bottom: 50px;
  right: 20px;
}
.up :active {
  scale: 0.8;
  transition: all 0.2s;
}

/*Fin boton de subir*/
button[type=submit] {
  background-image: linear-gradient(to right, #202020 0%, #444949 51%, #202020 100%);
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #e9e5e5;
  box-shadow: 0 0 10px #444949;
  border-radius: 20px;
  border: 0;
}
button[type=submit]:hover {
  background-position: right center;
  color: #e9e5e5;
  text-decoration: none;
  transition: all 0.9s;
}
button[type=submit]:active {
  scale: 0.8;
  transition: all 0.8s;
}/*# sourceMappingURL=Estilos.css.map */